/*core styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 1rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* 1rem = 10px */
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

/*colors*/
.color-white {
    color: white;
}

.color-blue {
    color: #349cfb;
}

.text-align {
    text-align: center;
}

.active {
    color: #3f9cfb;
    text-decoration: underline;
    text-underline-offset: 1.8rem;
}

/* /colors*/
/*buttons*/
button {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

/*line-height*/
.line-height {
    line-height: 25px;
}

.clearfix {
    clear: both;
    position: relative;
}

/*core styles*/
/*fixedbox*/
.fixedbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: 0 0.3px 1px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo span {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    color: rgba(0, 0, 0, 07);
    font-size: 1.6rem;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease;
}

nav ul li a:hover {
    color: black;
}

nav ul li:hover {
    color: #00ffff;
}

nav ul button {
    padding: 18px 30px;
    border: 2px solid #3f9cfb;
    border-radius: 10px;
    color: #3f9cfb;
    background-color: white;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
}

nav ul button:hover {
    background-color: #f5f7fa;
}

nav ul .none {
    display: none;
}

/* CSS */
.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 720px;
}

.bluediv {
    width: 130.2rem;
    max-width: 1320px;
    height: 60rem;
    border-radius: 10px;
    background-color: #f5f7fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    margin-top: 10rem;
    align-items: center;
    position: relative;
}

.bluediv_items {
    padding-left: 5rem;
}

.bluediv_items h3 {
    text-transform: uppercase;
    color: #3f9cfb;
    font-size: 1.6rem;
    font-weight: 300;
}

.bluediv_items h1 {
    font-size: 6rem;
    margin-top: 1.5rem;
}

.bluediv_items button {
    padding: 18px 36px;
    background-color: hsl(209, 96%, 63%);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    margin-top: 4rem;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
}

.bluediv_items button:hover {
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 10px rgb(63, 156, 251));
}

.bluediv_video {
    margin-left: 20rem;
    margin-top: -12rem;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 35px 35px #c6e2fb;
}

.bluediv_video video {
    width: 100%;
    border-radius: 1.7rem;
}

.bluediv_img {
    margin-left: 2rem;
    margin-top: 15rem;
    width: 200px;
    height: 200px;
}

.bluediv_img img {
    border-radius: 10px;
    max-width: 100%;
}

.bluedivv {
    width: 130px;
    height: 130px;
    background-color: #f9f9f9;
    position: absolute;
    margin-left: 1000px;
    margin-top: 40rem;
    border-radius: 70%;
}

.tishlangan_olma {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 35px;
    right: 30px;
    font-size: 3rem;
    color: white;
    background: #6db4fc;
    padding: 10px;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tishlangan_olma i {
    margin-top: -1.8rem;
}



/*imkoniyatlar*/
.flexbox2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    height: 200px;
    padding-left: 100px;
    padding-top: 5rem;
}

.imkoniyatlar2 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.imkoniyatlar h1 {
    font-size: 3rem;
    line-height: 38px;
}

.oquvchilar h1 {
    color: #45a3fb;
    font-size: 5rem;
    padding-bottom: 0.5rem;
}

.oquvchilar h3 {
    font-size: 2rem;
    padding-top: 0.5rem;
}

/*imkoniyatlar*/

/*flexbox 3*/
.gridbox1 {
    width: 94%;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-left: 100px;
    margin-top: 70px;
    cursor: pointer;
}

.gridbox1 div {
    border-radius: 1.5rem;
    transition: all 0.5s ease;
}

.gridbox1 div:hover {
    transform: scale(1.03);
}

.gridbox_kurslar {
    background-color: #3f9cfb;
}

.clock-img {
    width: 12.5rem;
}

.gridbox_kurslar .img {
    width: 20rem;
    padding-left: 1.5rem;
    padding-top: 5rem;
}

.gridbox_kurslar h2 {
    padding-left: 4rem;
    font-size: 2.4rem;
    color: white;
    padding-top: 3rem;
}

.gridbox_kurslar h3 {
    padding-left: 4rem;
    font-size: 1.8rem;
    color: white;
    opacity: 0.8;
    font-weight: 300;
    line-height: 2.5rem;
    padding-top: 2rem;
}

.gridbox_kurslar__button {
    width: 87%;
    height: 5.3rem;
    margin-left: 4rem;
    margin-top: 2.5rem;
    border: 1px solid white;
    background-color: #349cfb;
    color: white;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    transition: all 0.4s ease;
}

.gridbox_kurslar__button:hover {
    transform: scale(1.02);
    background: #6db4fc;
}

.clock-img {
    width: 12.5rem;
}

.gridbox_kasblar .img {
    width: 20rem;
    padding-left: 1.5rem;
    padding-top: 5rem;
}

.gridbox_kasblar h2 {
    padding-left: 4rem;
    font-size: 2.4rem;
    color: white;
    padding-top: 3rem;
}

.gridbox_kasblar h3 {
    padding-left: 4rem;
    font-size: 1.8rem;
    color: white;
    opacity: 0.8;
    font-weight: 300;
    line-height: 2.5rem;
    padding-top: 2rem;
}

.gridbox_kasblar__button {
    width: 87%;
    height: 5.3rem;
    margin-left: 4rem;
    margin-top: 2.5rem;
    border: 1px solid white;
    background-color: #091621;
    color: white;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    transition: all 0.4s ease;
}

.gridbox_kasblar__button:hover {
    transform: scale(1.02);
    background: #434d54;
}

.gridbox_kasblar {
    background-color: #091621;
}

/*blackbox1*/
.blackbox1 {
    width: 88%;
    height: 400px;
    margin-top: 10rem;
    margin-left: 98px;
    background: linear-gradient(to right, #013763, #16232d);
    border-radius: 2rem;
    position: relative;
}

/*flexbox*/
.flexbox {
    padding: 5.5rem;
    display: flex;
    justify-content: space-between;
}

.flexbox__items {
    position: absolute;
    padding-top: 3.5rem;
}

.flexbox__items h3 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.flexbox__items h1 {
    font-size: 4.3rem;
    margin-bottom: 2rem;
    line-height: 5.5rem;
}

.flexbox__items button {
    padding: 15px 45px;
    margin-top: 2rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: medium;
    color: white;
    background-color: #349cfb;
    border: none;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
}

.flexbox__items button:hover {
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 10px rgb(63, 156, 251));
}

.web_page {
    margin-left: 300px;
    padding-left: 300px;
    position: absolute;
}

/*thoughts*/
.thoughts {
    width: 95%;
    padding-top: 10rem;
    font-size: 1.2rem;
    padding-left: 8rem;
}

.thoughts__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    gap: 1.5rem;
}

.thoughts__items {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
}

.thoughts__items h4 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.thoughts__items p {
    font-size: medium;
    opacity: 0.7;
    margin-top: -0.6rem;
    line-height: 23px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.btn_04 {
    padding: 20px 36px;
    border-radius: 1rem;
    border: none;
    background-color: #349cfb;
    color: white;
    font-size: medium;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn_04:hover {
    background-color: #0556a1;
}

/*blackbox2*/
.blackbox2 {
    width: 100%;
    height: 155rem;
    background-color: #091621;
}

.text {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    opacity: 0.7;
    padding-left: 100px;
}

.blackbox2 .heading {
    padding-top: 10rem;
    font-size: 4.5rem;
    padding-left: 100px;
}

/*gridbox2*/
.gridbox2 {
    width: 88%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: 100px;
    margin-top: 50px;
    gap: 2rem;
}

.gridbox2 button:not(.btn_05) {
    padding: 13px 15px;
    border: 1px solid #3f9cfb;
    background-color: #091621;
    border-radius: 0.5rem;
    color: #349cfb;
    font-size: 1.5rem;
    transition: all 0.4s ease;
}

.gridbox2 button:hover:not(.btn_05) {
    background-color: #349cfb;
    color: white;
}

.gridbox2 button:first-child {
    background-color: #349cfb;
    border-radius: 0.5rem;
    color: white;
    width: 200px;
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
    transition: all 0.4s ease;
}

.gridbox2 button:first-child:hover {
    background-color: #206fb9;
}

/*gridbox3*/
.gridbox3 {
    width: 88%;
    height: 400px;
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2.5rem;
    cursor: pointer;
}

.gridbox3 div {
    border: 2px solid #0b2c48;
    border-radius: 2rem;
    background-color: #081b2e;
}

.gridbox3 div h4 {
    padding-left: 3.2rem;
    padding-top: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
}

.gridbox3 div h2 {
    padding-left: 3.2rem;
    padding-top: 2rem;
    font-weight: 600;
    font-size: 2.3rem;
}

.gridbox3 div h3 {
    padding-left: 3.2rem;
    padding-top: 2rem;
    font-weight: 300;
    font-size: 2rem;
}

/*gridbox4*/
.gridbox4 {
    width: 88%;
    height: 400px;
    margin-left: 100px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2.5rem;
    cursor: pointer;
}

.gridbox4 div {
    border: 2px solid #0b2c48;
    border-radius: 2rem;
    background-color: #081b2e;
}

.gridbox4 div h4 {
    padding-left: 3.2rem;
    padding-top: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
}

.gridbox4 div h2 {
    padding-left: 3.2rem;
    padding-top: 2rem;
    font-weight: 600;
    font-size: 2.3rem;
}

.gridbox4 div h3 {
    padding-left: 3.2rem;
    padding-top: 2rem;
    font-weight: 300;
    font-size: 2rem;
}

.btnn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 10rem;
}

.btn_06 {
    padding: 15px 37px;
    border-radius: 1rem;
    border: none;
    background-color: #349cfb;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 0 20px 0 #349cfb;
    transition: all 0.3s ease;
}

.btn_06:hover {
    background-color: #206fb9;
}

/*whitebox*/
.whitebox {
    width: 88%;
    height: 100rem;
    margin-left: 100px;
}

.whitebox h1 {
    display: flex;
    justify-content: center;
    padding-top: 13rem;
    font-size: 4.5rem;
}

.navbarcha ul {
    display: flex;
    justify-content: center;
}

.navbarcha ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;
    padding: 20px;
    padding-top: 4rem;
    opacity: 0.8;
    cursor: pointer;
}

.navbarcha ul li:active {
    color: #3f9cfb;
    text-decoration: underline;
    text-underline-offset: 1.8rem;
    transition: all 0.4s ease;
}

/*gridbox5*/

.gridbox5 {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3.5rem;
    gap: 2rem;
}

.gridbox5 div {
    border: 1px solid #e1e5e8;
    border-radius: 1rem;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
}

.gridbox5 div:hover {
    box-shadow: 0 2px 2px 0 #22222236;
}

.image-img img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.fa-user {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    opacity: 0.5;
}

.gridbox5 div p {
    display: inline-block;
    font-size: 1.6rem;
    opacity: 0.7;
    padding-left: 0.5rem;
}

.gridbox5 div h4 {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.8rem;
}

.gridbox5 div h3 {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    opacity: 0.8;
}

.gridbox5 div h2 {
    padding-left: 2rem;
    padding-top: 4.5rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: #349cfb;
}

.ilk-qadam img {
    width: 100%;
    height: 176px;
}

/*gridbox6*/
.gridbox6 {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3.5rem;
    gap: 2rem;
}

.gridbox6 div {
    border: 1px solid #e1e5e8;
    border-radius: 1rem;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
}

.gridbox6 div:hover {
    box-shadow: 0 2px 2px 0 #22222236;
}

.image-img img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.fa-user {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    opacity: 0.5;
}

.gridbox6 div p {
    display: inline-block;
    font-size: 1.6rem;
    opacity: 0.7;
    padding-left: 0.5rem;
}

.gridbox6 div h4 {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.8rem;
}

.gridbox6 div h3 {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    opacity: 0.8;
}

.gridbox6 div h2 {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: #349cfb;
}

.margin-top-2rem {
    margin-top: 2.8rem;
}

.margin-top-3rem {
    margin-top: 6.4rem;
}

.ilk-qadam img {
    width: 100%;
    height: 176px;
}

/*button*/
.barchasini-korsatish {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.barchasini-korsatish button {
    padding: 18px 30px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #349cfb;
    border-radius: 1rem;
    border: 2px solid #349cfb;
    background-color: white;
    transition: all 0.4s ease;
}

.barchasini-korsatish button:hover {
    background-color: #349cfb;
    color: white;
}

/* Asosiy fon qismi */
.soha-topish {
    width: 100%;
    height: 440px;
    background-color: #3f9cfb;
    border-radius: 2rem;
    margin-top: 5rem;
    padding: 3rem 2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
}

/* Ichki flex konteyner */
.soha-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Matn qismi */
.soha-left {
    flex: 1 1 600px;
    color: #fff;
}

.soha-left h1 {
    font-size: 4.3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-left: 76px;
    margin-top: -100px;
    margin-bottom: 10px;
    display: block;
}

.soha-left h3 {
    padding-left: 8rem;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 2rem;
    max-width: 600px;
}

.soha-left button {
    padding: 16px 32px;
    margin-top: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: medium;
    color: #3f9cfb;
    background-color: white;
    border: none;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    margin-left: 7.5rem;
}

.soha-left button:hover {
    transform: scale(1.05);
    background-color: #e1e5e8;
    filter: drop-shadow(1px 1px 10px rgb(63, 156, 251));
}

/* Rasm qismi */
.soha-right {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
}

.soha-right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 114px;
    margin-left: 20px;
    display: block;
}

/*ustozlar*/
.ustozlar {
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.ustozlar img {
    border-radius: 2rem;
}

.tajribali_ustozlar {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.font-size-3 {
    font-size: 3rem;
}

.thoughts__items i {
    font-size: 30px;
    color: #3f9cfb;
    padding-top: 1rem;
}

.padding-top2rem {
    padding-top: 2rem;
}

.imgg {
    padding-top: 7rem;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    cursor: pointer;
}

/*blackbox3*/
.blackbox3 {
    width: 101.333333333%;
    height: 720px;
    background-color: #17222B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2050px;
    max-width: 1536px;
    margin-left: -1rem;
}

.blackboxx {
    width: 85%;
    height: 350px;
    border-radius: 18px;
    background-color: #263039;
}

.blackboxx h1 {
    margin-top: 75px;
    padding-left: 6rem;
    color: white;
    font-size: 4.5rem;
    line-height: 5.5rem;
}

.blackboxx h2 {
    margin-top: 2rem;
    padding-left: 6rem;
    line-height: 2.5rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}

/*BOX3*/

.box3 {
    width: 400px;
    height: 480px;
    margin-left: 800px;
    margin-top: -300px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #5e656c;
}

label {
    color: white;
    margin-left: 20px;
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
}

.inputs input {
    width: 330px;
    height: 50px;
    border-radius: 10px;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 15px;
    color: rgb(255, 253, 253);
    background-color: #17222b;
    border: 1px solid #414b51;
    margin-bottom: 20px;
}

.inputs button {
    width: 330px;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #51a5fb;
    border: none;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    transition: all .4s ease;
}

.inputs button:hover {
    background-color: #2071c2;
}

.box3 p {
    color: white;
    opacity: .8;
    font-size: small;
    margin-left: 20px;
    margin-top: 1rem;
    line-height: 2rem;
}

.box3 a {
    color: #3f9cfb;
}

.btn_01:hover {
    background-color: #555e67;
    color: white;
}

.blackbox3 hr {
    border: 1px solid #393f44;
    margin-top: 5rem;
}

/*footer*/
footer {
    width: 101.3333%;
    height: 470px;
    background-color: #17222B;
    margin-left: -1rem;
}

.logo2 {
    margin-left: 120px;
    padding-top: 3rem;
}

.logo2 h2 {
    font-size: 2rem;
    font-weight: 100;
}

.logo2 h1 {
    font-size: 3.2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 3rem;
}

.logo2 p {
    line-height: 20px;
    font-size: 1.5rem;
    margin-top: 2rem;
    opacity: .7;
    transition: all .3s ease;
}

footer nav {
    display: flex;
    height: 300px;
}

footer nav ul {
    display: block;
    padding-left: 120px;
    padding-top: 3rem;
}

footer nav ul li {
    color: white;
    line-height: 3rem;
    opacity: .8;
}

.font-weight {
    font-weight: 600;
    opacity: 1;
}

.div1 {
    width: 30%;
}

.div2 {
    width: 43%;
    display: flex;
}

.kompaniya {
    margin-left: -4rem;
}

.malumot {
    margin-left: -6.5rem;
}

.flex_h1 {
    display: flex;
    align-items: center;
}

.hoverli__p:hover {
    opacity: 1;
}

.opacity {
    opacity: .8;
}

.hujjatlar {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.IT-park {
    margin-top: -6rem;
}

/*tulovlar*/
.tulovlar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 45px;
    margin-left: 1050px;
    gap: 2rem;
}

.tulovlar div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263039;
}

footer hr {
    width: 85%;
    margin-left: 120px;
    margin-top: 3rem;
    border: 1px solid #393f44;
}

.overbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: 120px;
    margin-top: 3rem;
}

.overbox div {
    display: grid;
    width: 15%;
    grid-template-columns: repeat(5, 1fr);
}

.overbox .hoverli__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}

.overbox .hoverli__box:hover {
    background: #263039;
}

.over {
    font-size: 1.6rem;
    color: rgb(168, 165, 165);
}

.overbox i {
    color: #A2AAB0;
    font-size: 22px;
}

@media screen and (max-width:1400px) {
    .container {
        width: 1350px;
    }

    .bluediv {
        width: 130rem;
    }

    .navbar {
        height: 78px;
    }

    .bluediv_items h1 {
        font-size: 5.8rem;
    }

    .bluediv_items h3 {
        font-size: 1.5rem;
    }

    .bluediv_items button {
        padding: 17px 34px;
        font-size: 1.4rem;
        border-radius: .9rem;
        margin-top: 3rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 91%;
        height: 200px;
        padding-left: 50px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .imkoniyatlar h1 {
        font-size: 2.8rem;
        line-height: 38px;
    }

    .oquvchilar h1 {
        font-size: 4.8rem;
        padding-bottom: 0.4rem;
    }

    .oquvchilar h3 {
        font-size: 1.8rem;
        padding-top: 0.5rem;
    }

    /*gridbox*/
    .gridbox1 {
        width: 94%;
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 100px;
        margin-top: 70px;
        cursor: pointer;
    }

    .clock-img {
        width: 12.5rem;
    }

    .gridbox_kurslar .img {
        width: 20rem;
        padding-left: 1.5rem;
        padding-top: 5rem;
    }

    .gridbox_kurslar h2 {
        padding-left: 4rem;
        font-size: 2.4rem;
        color: white;
        padding-top: 3rem;
    }

    .gridbox_kurslar h3 {
        padding-left: 4rem;
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding-top: 2rem;
    }

    .gridbox_kurslar__button {
        width: 85%;
        height: 5rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
        border: 1px solid white;
        background-color: #349cfb;
        color: white;
        border-radius: 0.4rem;
        font-size: 1.7rem;
        transition: all 0.4s ease;
    }

    .clock-img {
        width: 12rem;
    }

    .gridbox_kasblar .img {
        width: 12rem;
        padding-left: 1.5rem;
        padding-top: 5rem;
    }

    .gridbox_kasblar h2 {
        padding-left: 4rem;
        font-size: 2.4rem;
        padding-top: 3rem;
    }

    .gridbox_kasblar h3 {
        padding-left: 4rem;
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding-top: 2rem;
    }

    .gridbox_kasblar__button {
        width: 85%;
        height: 5rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
        font-size: 1.6rem;
    }

    /*imkoniyatlar*/
}

@media screen and (max-width:1330px) {
    .container {
        width: 1250px;
    }

    .bluediv {
        width: 128rem;
    }

    .bluediv_items h1 {
        font-size: 5rem;
        margin-top: 1.5rem;
    }

    .bluediv_video {
        margin-left: 18rem;
        margin-top: -12rem;
        border-radius: 18px;
        width: 185px;
        height: 180px;
        box-shadow: 32px 32px #c6e2fb;
    }

    .bluediv_video video {
        width: 100%;
        border-radius: 1.6rem;
    }

    .bluediv_img {
        margin-left: 1.9rem;
        margin-top: 13.5rem;
        width: 200px;
        height: 180px;
    }

    .bluediv_img img {
        border-radius: 9.8px;
        max-width: 100%;
    }

    .bluedivv {
        width: 130px;
        height: 130px;
        margin-left: 900px;
        margin-top: 40rem;
        border-radius: 70%;
    }

    /*gridbox*/
    .gridbox1 {
        width: 95%;
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 50px;
        margin-top: 70px;
        cursor: pointer;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 200px;
        padding-left: 40px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    .imkoniyatlar h1 {
        font-size: 2.7rem;
        line-height: 38px;
    }

    .oquvchilar h1 {
        font-size: 4.7rem;
        padding-bottom: 0.4rem;
    }

    .oquvchilar h3 {
        font-size: 1.7rem;
        padding-top: 0.5rem;
    }

    /*imkoniyatlar*/
}

@media screen and (max-width:1250px) {
    .container {
        width: 1150px;
    }

    .bluediv {
        width: 115rem;
    }

    .bluediv_items h1 {
        font-size: 4.5rem;
        margin-top: 1.5rem;
    }

    .bluediv_video {
        margin-left: 16rem;
        margin-top: -10.5rem;
        border-radius: 16px;
        width: 182px;
        height: 180px;
        box-shadow: 32px 32px #c6e2fb;
    }

    .bluediv_video video {
        width: 100%;
        border-radius: 1.5rem;
    }

    .bluediv_img {
        margin-left: 1.8rem;
        margin-top: 13rem;
        width: 182px;
        height: 180px;
    }

    .bluediv_img img {
        border-radius: 9px;
        max-width: 100%;
    }

    .bluedivv {
        width: 125px;
        height: 125px;
        margin-left: 780px;
        margin-top: 37rem;
        border-radius: 70%;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 87%;
        height: 200px;
        padding-left: 30px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 37px;
    }

    .imkoniyatlar h1 {
        font-size: 2.5rem;
        line-height: 38px;
    }

    .oquvchilar h1 {
        font-size: 4.5rem;
        padding-bottom: 0.4rem;
    }

    .oquvchilar h3 {
        font-size: 1.4rem;
        padding-top: 0.5rem;
    }

    /*gridbox*/
    .gridbox1 {
        width: 100%;
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 30px;
        margin-top: 70px;
        cursor: pointer;
    }

    .clock-img {
        width: 12rem;
    }

    .gridbox_kurslar .img {
        width: 18rem;
        padding-left: 1.5rem;
        padding-top: 5rem;
    }

    .gridbox_kurslar h2 {
        padding-left: 4rem;
        font-size: 2.4rem;
        color: white;
        padding-top: 3rem;
    }

    .gridbox_kurslar h3 {
        padding-left: 4rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-top: 2rem;
    }

    .gridbox_kurslar__button {
        width: 85%;
        height: 5rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
        border: 1px solid white;
        background-color: #349cfb;
        color: white;
        border-radius: 0.4rem;
        font-size: 1.7rem;
        transition: all 0.4s ease;
    }

    .clock-img {
        width: 12rem;
    }

    .gridbox_kasblar .img {
        width: 12rem;
        padding-left: 1.5rem;
        padding-top: 5rem;
    }

    .gridbox_kasblar h2 {
        padding-left: 4rem;
        font-size: 2.4rem;
        padding-top: 3rem;
    }

    .gridbox_kasblar h3 {
        padding-left: 4rem;
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding-top: 2rem;
    }

    .gridbox_kasblar__button {
        width: 85%;
        height: 5rem;
        margin-left: 4rem;
        margin-top: 2.5rem;
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1050px) {
    .container {
        width: 950px;
    }

    .bluediv {
        width: 115rem;
    }

    .bluediv_items h3 {
        font-size: 1.3rem;
    }

    .bluediv_items h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .bluediv_video {
        margin-left: 10rem;
        margin-top: -10rem;
        border-radius: 16px;
        width: 172px;
        height: 170px;
        box-shadow: 25px 25px #c6e2fb;
    }

    .bluedivv {
        display: none;
    }

    .bluediv_items button {
        padding: 12px 24px;
        font-size: 1.3rem;
        border-radius: .7rem;
    }

    .bluediv_video video {
        width: 100%;
        border-radius: 1.4rem;
    }

    .bluediv_img {
        margin-left: 1.7rem;
        margin-top: 12rem;
        width: 170px;
        height: 170px;
    }

    .bluediv_img img {
        border-radius: 8px;
        max-width: 100%;
    }

    .bluedivv {
        width: 115px;
        height: 115px;
        margin-left: 580px;
        margin-top: 35rem;
        border-radius: 70%;
    }

    .bluediv_items button {
        padding: 12px 24px;
        font-size: 1.3rem;
        border-radius: .7rem;
        margin-top: 1.4rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 88%;
        height: 200px;
        padding-left: 20px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .imkoniyatlar h1 {
        font-size: 2.3rem;
        line-height: 32px;
    }

    .oquvchilar h1 {
        font-size: 4.2rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.3rem;
        padding-top: 0.4rem;
    }

}

@media only screen and (max-width: 850px) {
    .container {
        width: 900px;
        margin-left: -3.5rem;
    }

    .bluediv {
        width: 81rem;
    }

    .bluediv_video {
        display: none;
    }

    .bluediv_img {
        display: none;
    }

    nav ul li {
        display: none;
    }

    nav ul button {
        display: none;
    }

    .navbar {
        padding: 0 6rem;
    }

    nav ul .none {
        display: block;
        font-size: 2.2rem;
        cursor: pointer;
    }

    .bluediv {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .bluediv_items h3 {
        font-size: 2rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 5rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 20px 40px;
        font-size: 1.5rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 13.5rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 88%;
        height: 200px;
        padding-left: 50px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .imkoniyatlar h1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 4.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.1rem;
        padding-top: 0.4rem;
    }
}

@media only screen and (max-width: 840px) {
    .container {
        width: 840px;
        margin-left: -2rem;
    }

    .bluediv {
        width: 81rem;
    }

    .bluediv_video {
        display: none;
    }

    .bluediv_img {
        display: none;
    }

    nav ul li {
        display: none;
    }

    nav ul button {
        display: none;
    }

    .navbar {
        padding: 0 6rem;
    }

    nav ul .none {
        display: block;
        font-size: 2.1rem;
    }

    .bluediv {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .bluediv_items h3 {
        font-size: 1.9rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 4.8rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 19px 38px;
        font-size: 1.4rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 13.5rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 200px;
        padding-left: 30px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    .imkoniyatlar h1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 4.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.1rem;
        padding-top: 0.4rem;
    }

    /*gridbox*/
    .gridbox1 {
        width: 100%;
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        padding-left: 20px;
        margin-top: 70px;
    }

    .gridbox_kurslar .img {
        width: 15rem;
        padding-left: 1.4rem;
        padding-top: 4rem;
    }

    .gridbox_kurslar h2 {
        padding-left: 3rem;
        font-size: 2.3rem;
        padding-top: 2rem;
    }

    .gridbox_kurslar h3 {
        padding-left: 3rem;
        font-size: 1.7rem;
        line-height: 2.3rem;
        padding-top: 2rem;
        width: 400px;
    }

    .gridbox_kurslar__button {
        width: 85%;
        height: 5rem;
        margin-left: 3rem;
        margin-top: 2rem;
        border: 1px solid white;
        background-color: #349cfb;
        color: white;
        border-radius: 0.4rem;
        font-size: 1.7rem;
    }

    .gridbox_kasblar .img {
        width: 10rem;
        padding-left: 1.5rem;
        padding-top: 5rem;
    }

    .gridbox_kasblar h2 {
        padding-left: 3rem;
        font-size: 2.3rem;
        padding-top: 3rem;
    }

    .gridbox_kasblar h3 {
        padding-left: 3rem;
        font-size: 1.7rem;
        line-height: 2.4rem;
        padding-top: 2rem;
    }

    .gridbox_kasblar__button {
        width: 85%;
        height: 5rem;
        margin-left: 3rem;
        margin-top: 3.1rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 800px;
        margin-left: -1.5rem;
    }

    .bluediv {
        width: 81rem;
    }

    .navbar {
        padding: 0 6rem;
    }

    nav ul .none {
        display: block;
        font-size: 2.1rem;

    }

    .bluediv_items h3 {
        font-size: 1.8rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 4.5rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 16px 32px;
        font-size: 1.2rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 13.5rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        width: 98%;
        height: 200px;
        padding-left: 30px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    .imkoniyatlar h1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 4.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.1rem;
        padding-top: 0.4rem;
    }

    .gridbox1 {
        padding-left: 10px;
    }

}

@media only screen and (max-width: 750px) {
    .container {
        width: 740px;
        margin-left: -1.5rem;
    }

    .bluediv {
        width: 75rem;
    }

    .navbar {
        padding: 0 6rem;
    }

    nav ul .none {
        display: block;
        font-size: 2rem;

    }

    .bluediv_items h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 4rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 15px 30px;
        font-size: 1.1rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 12rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        padding-left: 25px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .imkoniyatlar h1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 4.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.1rem;
        padding-top: 0.4rem;
    }

    /*gridbox*/
    .gridbox1 {
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 2rem;
        padding-left: 10px;
        margin-top: 70px;
    }

    .gridbox_kurslar .img {
        width: 12rem;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .gridbox_kurslar h2 {
        padding-left: 5rem;
        font-size: 2.3rem;
        padding-top: 1rem;
    }

    .gridbox_kurslar h3 {
        padding-left: 5rem;
        font-size: 1.7rem;
        line-height: 2.3rem;
        padding-top: 2rem;
        width: 400px;
    }

    .gridbox_kurslar__button {
        width: 85%;
        height: 5rem;
        margin-left: 5rem;
        margin-top: 2rem;
        border: 1px solid white;
        background-color: #349cfb;
        color: white;
        border-radius: 0.4rem;
        font-size: 1.7rem;
    }

    .gridbox_kasblar .img {
        width: 10rem;
        padding-left: 3rem;
        padding-top: 1rem;
    }

    .gridbox_kasblar h2 {
        padding-left: 2.2em;
        font-size: 2.3rem;
        padding-top: 3rem;
    }

    .gridbox_kasblar h3 {
        padding-left: 5rem;
        font-size: 1.7rem;
        line-height: 2.4rem;
        padding-top: 2rem;
    }

    .gridbox_kasblar__button {
        width: 85%;
        height: 5rem;
        margin-left: 5rem;
        margin-top: 3.1rem;
        font-size: 1.5rem;
    }

    /*blackbox1*/
    .blackbox1 {
        width: 100%;
        margin-left: 9px;
        height: 350px;
    }

    /*flexbox*/
    .flexbox {
        padding: 5.5rem;
    }

    .flexbox__items {
        padding-top: 3.5rem;
    }

    .flexbox__items h3 {
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .flexbox__items h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 4rem;
    }

    .flexbox__items button {
        padding: 15px 35px;
        margin-top: 1rem;
        font-size: 15px;
    }

    .flexbox__items button:hover {
        filter: drop-shadow(1px 1px 8px rgb(63, 156, 251));
    }

    .web_page {
        margin-left: 250px;
        padding-left: 20px;
    }

    /*thoughts*/
    .thoughts {
        width: 100%;
        padding-top: 5rem;
        font-size: 1rem;
        padding-left: 3rem;
    }

    .thoughts__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 10px;
        gap: 1.5rem;
    }

    .thoughts__items {
        display: flex;
        flex-direction: column;
        text-align: left;
        cursor: pointer;
    }

    .thoughts__items h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-top: 2rem;
    }

    .thoughts__items p {
        font-size: 13px;
        opacity: 0.7;
        line-height: 15px;
    }

    .btn_04 {
        margin-top: -2rem;
        padding: 15px 35px;
    }

    .btn_06 {
        padding: 15px 30px;
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 700px) {
    .container {
        width: 680px;
        margin-left: -.8rem;
    }

    .bluediv {
        width: 65rem;
    }

    .navbar {
        padding: 0 6rem;
    }

    nav ul .none {
        display: block;
        font-size: 2rem;

    }

    .bluediv_items h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 3.8rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 14px 28px;
        font-size: 1rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 12rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 105%;
        height: 200px;
        padding-left: 1px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .imkoniyatlar h1 {
        font-size: 2.1rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 3.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.2rem;
        padding-top: 0.4rem;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        width: 630px;
        margin-left: -.8rem;
    }

    .bluediv {
        width: 62rem;
    }

    .navbar {
        padding: 0 6.2rem;
    }

    nav ul .none {
        display: block;
        font-size: 1.9rem;

    }

    .bluediv_items h3 {
        font-size: 1.4rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 3.7rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 14px 28px;
        font-size: 1rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 12rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 113%;
        height: 200px;
        padding-left: 20px;
        padding-top: 5rem;
    }

    .imkoniyatlar2 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .imkoniyatlar h1 {
        font-size: 2.1rem;
        line-height: 30px;
    }

    .oquvchilar h1 {
        font-size: 3.1rem;
        padding-bottom: 0.3rem;
    }

    .oquvchilar h3 {
        font-size: 1.2rem;
        padding-top: 0.4rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 580px;
        margin-left: -.8rem;
    }

    .bluediv {
        width: 57rem;
    }

    .navbar {
        padding: 0 6.3rem;
    }

    nav ul .none {
        display: block;
        font-size: 1.8rem;

    }

    .bluediv_items h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 3.6rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 13px 27px;
        font-size: .9rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 11rem;
    }

    .gridbox_kurslar .gridbox_kurslar__button {
        margin-left: 3.4rem;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        width: 520px;
        margin-left: -2rem;
    }

    .bluediv {
        width: 47rem;
    }

    .navbar {
        padding: 0 6.4rem;
    }

    nav ul .none {
        display: block;
        font-size: 1.7rem;

    }

    .bluediv_items h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .bluediv_items h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .bluediv_items button {
        padding: 13px 27px;
        font-size: .88rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        margin-left: 10rem;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        width: 505px;
        margin-left: -1.5rem;
    }

    .navbar {
        padding: 0 2.1rem;
    }

    nav ul .none {
        display: block;
        font-size: 1.6rem;
    }

    /* Success */
    .bluediv {
        width: 100%;
        height: 570px;
        display: block;
        margin-top: 1rem;
    }

    .bluediv_items h3 {
        font-size: 1.1rem;
        margin-right: 10rem;
        margin-top: 1rem;
    }

    .bluediv_video {
        display: block;
        margin-top: 5rem;
        width: 150px;
        height: 146px;
        position: relative;
        left: -15px;
    }
    .bluediv_video video {
        display: block;
    }

    .bluediv_img {
        display: block;
        width: 140px;
        height: 100px;
        position: relative;
        top: -130px;
        left: 25px;
    }

    .bluediv_items h1 {
        font-size: 3.3rem;
        margin-left: -7rem;
        width: 400px;
    }

    .bluediv_items button {
        padding: 12px 24px;
        font-size: .8rem;
        border-radius: .8rem;
        margin-top: 1.5rem;
        position: relative;
        left: -1.7rem;
    }

    /* Success */

    .text {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-top: 2rem;
        opacity: 0.7;
        padding-left: 100px;
    }



    /*gridbox2*/
    .gridbox2 {
        width: 88%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin-left: 100px;
        margin-top: 50px;
        gap: 2rem;
    }

    .gridbox2 button:not(.btn_05) {
        padding: 13px 15px;
        border: 1px solid #3f9cfb;
        background-color: #091621;
        border-radius: 0.5rem;
        color: #349cfb;
        font-size: 1.5rem;
        transition: all 0.4s ease;
    }

    .gridbox2 button:hover:not(.btn_05) {
        background-color: #349cfb;
        color: white;
    }

    .gridbox2 button:first-child {
        background-color: #349cfb;
        border-radius: 0.5rem;
        color: white;
        width: 200px;
        font-weight: 600;
        font-size: 1.5rem;
        border: none;
        transition: all 0.4s ease;
    }

    .gridbox2 button:first-child:hover {
        background-color: #206fb9;
    }

    /*gridbox3*/
    .gridbox3 {
        width: 88%;
        height: 400px;
        margin-left: 10px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 2.5rem;
        cursor: pointer;
    }

    .gridbox3 div {
        border: 2px solid #0b2c48;
        border-radius: 2rem;
        background-color: #081b2e;
    }

    .gridbox3 div h4 {
        padding-left: 3.2rem;
        padding-top: 4rem;
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0.8;
    }

    .gridbox3 div h2 {
        padding-left: 3.2rem;
        padding-top: 2rem;
        font-weight: 600;
        font-size: 2.3rem;
    }

    .gridbox3 div h3 {
        padding-left: 3.2rem;
        padding-top: 2rem;
        font-weight: 300;
        font-size: 2rem;
    }

    /*gridbox4*/
    .gridbox4 {
        width: 88%;
        height: 400px;
        margin-left: 100px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 2.5rem;
        cursor: pointer;
    }

    .gridbox4 div {
        border: 2px solid #0b2c48;
        border-radius: 2rem;
        background-color: #081b2e;
    }

    .gridbox4 div h4 {
        padding-left: 3.2rem;
        padding-top: 4rem;
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0.8;
    }

    .gridbox4 div h2 {
        padding-left: 3.2rem;
        padding-top: 2rem;
        font-weight: 600;
        font-size: 2.3rem;
    }

    .gridbox4 div h3 {
        padding-left: 3.2rem;
        padding-top: 2rem;
        font-weight: 300;
        font-size: 2rem;
    }

    .btnn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-top: 100rem;
    }

    .btn_06 {
        padding: 15px 37px;
        border-radius: 1rem;
        border: none;
        background-color: #349cfb;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        box-shadow: 0 0 20px 0 #349cfb;
        transition: all 0.3s ease;
    }

    .btn_06:hover {
        background-color: #206fb9;
    }

    .whitebox {
        width: 88%;
        height: 100rem;
        margin-left: 100px;
        margin-top: 100rem;
    }

    /*thoughts*/
    .thoughts img {
        width: 340px;
    }

    .thoughts h1 {
        margin-left: 7rem;
    }

    .thoughts__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 10px;
        gap: 1.5rem;
    }

    .btn_04 {
        margin-top: -2rem;
        padding: 13px 26px;
        margin-right: 10rem;
    }

    /*imkoniyatlar*/
    .flexbox2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 400px;
        padding-left: 20px;
        padding-top: 5rem;
    }

    .imkoniyatlar h1 {
        font-size: 2.1rem;
        line-height: 30px;
        margin-bottom: 34rem;
        text-align: left;
        width:400px;
    }
    .imkoniyatlar2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }
    .oquvchilar {
        margin-left: -400px;
        width: 500px;
    }

    .oquvchilar h1 {
        font-size: 3.1rem;
        padding-bottom: 0.3rem;
        margin-top: 10px;
        gap: 6rem;
    }

    .oquvchilar h3 {
        font-size: 1.2rem;
        padding-top: 0.4rem;
        gap: 6rem;
    }

    .gridbox3 {
        width: 88%;
        height: 800px;
        margin-left: 100px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        cursor: pointer;
    }

    .blackbox2 {
        width: 100%;
        height: 300rem;
        background-color: #091621;
    }

    /* Success */
    .web_page {
        display: none;
    }

    .flexbox__items h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-right: 50px;
    }

    .flexbox__items h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 3.2rem;
        margin-right: 50px;
    }

    .flexbox__items button {
        padding: 12px 15px;
        margin-left: 6.4rem;
        margin-top: 1.5rem;
    }
    /* Blackbox1 */
    .blackbox1 {
        margin-left: 15px;
        width: 340px;
        margin-top: 5rem;
    }

    /* Success */
    /*gridbox*/
    .gridbox1 {
        width: 70%;
        height: 650px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-left: 15px;
        margin-top: 70px;
    }

    .gridbox_kurslar .img {
        width: 10rem;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .gridbox_kurslar h2 {
        padding-left: 3.6rem;
        font-size: 2rem;
        padding-top: 1rem;
    }

    .gridbox_kurslar h3 {
        padding-left: 3.6rem;
        font-size: 1.4rem;
        line-height: 2.3rem;
        padding-top: 2rem;
        width: 300px;
    }

    .gridbox_kurslar__button {
        width: 79%;
        height: 4rem;
        margin-top: 3rem;
        font-size: 1.4rem;
    }

    .gridbox_kasblar .img {
        width: 10rem;
        padding-left: 3rem;
        padding-top: 1rem;
    }

    .gridbox_kasblar h2 {
        padding-left: 3.6rem;
        font-size: 2rem;
        padding-top: 1rem;
    }

    .gridbox_kasblar h3 {
        padding-left: 3.6rem;
        font-size: 1.4rem;
        line-height: 2.3rem;
        padding-top: 2rem;
        width: 342px;
    }

    .gridbox_kasblar__button {
        width: 79%;
        height: 4rem;
        margin-top: 3rem;
        font-size: 1.4rem;
        margin-left: 3.6rem;
    }

    /* Success */
    .blackbox2 .heading {
        padding-top: 10rem;
        font-size: 4.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 392px) {
    .container {
        width: 470px;
        margin-left: -6rem;
    }

    .navbar {
        padding: 0 7.5rem;
    }

    .bluediv_items button {
        margin-left: 6.5rem;
    }
}